* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;

}

/*
Fade in about pic here
*/

.myfloat {
	animation: fadeIn ease 6s;

}

-webkit-animation: fadeIn ease 6s;
-moz-animation: fadeIn ease 6s;
-o-animation: fadeIn ease 6s;
-ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



/*new float/*

/******************* ABOUT PAGE ******************/

.mypara {
	color: black;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-size: 3vw;
}

.mypara2 {
	color: black;
	line-height: 2;

}

.mypara3 {
	color: black;


}

.mypara3:hover {
	background-color: lightskyblue;
}





.container4 {
	display: flex;
	flex-direction: row;
}



.column {
	flex-basis: 300px;
	flex-grow: 1;
	padding-right: .5vw;
	padding-left: 5vw;
}

.column2 {
	flex-basis: 300px;
	flex-grow: 1;
	padding-right: .5vw;
	padding-left: 1.5vw;
	color: black;
}

.myfloat {
	/*	float: left;*/
	width: 100%;
	height: auto;


}

/*ABOUT FLOAT*/

.product-row:nth-child(odd) .product-image {
	padding-left: 5%;
	padding-right: 0;
}

.product-row {
	display: flex;
	margin-bottom: 0;
	// max-height: 500px;
	min-height: 500px;
	align-items: center;
}


.product-image {
	/*	// max-width: 420px;*/
	/*	width: 45%;*/
	float: left;
	/*	flex: 1 1 45%;*/
	/*	padding-right: 5%;*/
	/*	max-width: 45% !important;*/
	/*	min-width: 320px;*/
}

.product-text {
	// display: flex;
	position: relative;
	width: 90%;
	float: right;
	flex: 1 1 90%;
	max-width: 90%;
}

.product-buttons {
	padding-top: 2em;
}

.product-title {
	padding-bottom: 3vw;
	color: #000;
	font-weight: 800;
	font-size: 2em;
}

.IGlogo {
	vertical-align: middle;
}

.FBlogo {
	vertical-align: middle;
}

.IGtext {
	font-size: 1.5vw;

}

.IGtext:hover {
	color: #fff;
}

/*ABOUT FLOAT END*/

/*new video player here*/

.movie1 {
	/*	text-align: center;*/
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;

}

.vid1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-left: 50px;
	padding-right: 50px;

}



/*new iframe try*/


.iframe-container {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;


}

#myVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
	padding-left: 50px;
	padding-right: 50px;



}



html {
	font-size: 12px;
	font-family: "lanord-regular",
		sans-serif;
}

.body2 {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #eee;
}

header {
	width: 100%;
	height: 100vh;

	background-size: cover;

}




.homebg {
	/*	background-color: darkorange;*/
	background-color: black;


	/*
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
*/

	/*	to fit video bg*/
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;





}


/*home page idea for annemette text*/
.newhead5 {
	text-decoration: none;
	color: white;
	/*	font-family: "avenir",
sans-serif;*/
	font-family: "lanord-bold", sans-serif;
	letter-spacing: 2px;
	/*	padding-top: 26.6em;*/
	padding-top: 1.4em;
	font-size: 7.12vw;
	justify-content: center;
	margin-right: 2vw;
	text-align: center;
	opacity: .6;




}

@keyframes BGFadeInOut {
	0% {
		opacity: 0;
	}

	100% {
		opacity: .7;
	}
}

/*#cf3 img.top*/
.newhead5 {
	animation-name: BGFadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate;

}

/*-----------New font try out - La Nord -----------------*/

@font-face {
	font-family: "lanord-bold";
	src: url("fonts/LaNord-Bold.woff");
	font-weight: bold;
}

/*=========================================*/

/*-----------New font try out - La Nord -----------------*/

@font-face {
	font-family: "lanord-light";
	src: url("fonts/LaNord-Light.woff");
	font-weight: bold;
}

/*=========================================*/

/*-----------New font try out - La Nord -----------------*/

@font-face {
	font-family: "lanord-semilight";
	src: url("fonts/LaNord-SemiLight.woff");
	font-weight: medium;
}

/*=========================================*/
/*-----------New font try out - La Nord -----------------*/

@font-face {
	font-family: "lanord-regular";
	src: url("fonts/LaNord-Regular.woff");
	/*	font-weight: bold;*/
}

/*=========================================*/


.container {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}

nav {
	padding-top: 5rem;
	/*	background-color: oldlace;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 2.5rem;
}

.portfolio {
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn 1.5s forwards;
	overflow-y: hidden;

}

.portfolio .blue {
	color: lightskyblue;
}

#annemettemygind span {
	color: lightskyblue;
	font-size: 1.5em;

}


#roundpic {
	border-radius: 5px 60px 5px;
	border: 20px solid lightskyblue;


}

/*FLEX BOX UL POSSIBLE position horizontal*/

/*
nav ul {
	display: flex;
}
*/


nav ul li {
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn 1s forwards;
	overflow-y: hidden;
}

nav ul li:nth-child(1) {
	animation-delay: 0s;
}

nav ul li:nth-child(2) {
	animation-delay: .5s;
}

nav ul li:nth-child(3) {
	animation-delay: 1s;
}

nav ul li:nth-child(4) {
	animation-delay: 1.5s;
}

nav ul li:nth-child(5) {
	animation-delay: 2s;
}

nav ul li a {
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;

}



nav ul li a:last-child {
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
	content: '';
	position: fixed;
	width: 100%;
	height: 1px;
	background-color: lightskyblue;
	left: 0;
	transform: scaleX(0);
	transition: all, .3s;

}

nav ul li a::before {
	top: 0;
	transform-origin: left;
}

nav ul li a::after {
	bottom: 0;
	transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
	transform: scaleX(1);
}

@keyframes slideIn {


	to {
		transform: translateX(0);
	}
}



/*start about css*/

main {
	/*	font-family: "Roboto Cn", sans-serif;*/
	font-family: "lanord-regular", sans-serif;
	padding-top: 0rem;

}

.header2 {
	background-image: none;
	/*	background-color: white;*/
	background-color: #fcfcfc;
	width: 100%;
	height: 35vh;
	/*	background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .2));*/
	background-size: cover;
}


h2 {
	text-align: center;
	color: #000;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

.body2 {
	/*	background-color: white;*/
	max-width: 100vw;
	background-color: #fcfcfc;

}



p {

	/*	text-align: center;*/
	/*
	padding-left: 20rem;
	padding-right: 20rem;
*/
	/*	color: #eee;*/
	font-size: 16px;
}

.aboutpic {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
	padding-bottom: 5rem;



}

.meetpic {
	display: flex;
	justify-content: center;

	padding-top: 5rem;


}




.newhead1 span {
	display: block;
}

div.img {
	text-align: center
}

footer {
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1rem;



}

div.img {
	text-align: center;
	width: 100%;

}

.link2 {
	text-decoration: none;
	color: black;
}

.newhead {
	text-decoration: none;
	color: black;
	font-family: "lanord-bold", sans-serif;
	letter-spacing: 2px;
}



.newhead3 {
	color: black;
	letter-spacing: .5px;
	font-weight: 300;
	padding-top: 1em;
	font-family: "lanord-semilight", sans-serif;
}

.newhead1 {
	text-decoration: none;
	color: black;
	letter-spacing: .5px;
	font-weight: 300;
	font-family: "lanord-semilight", sans-serif;
	line-height: 1.4;

}

.newhead2 {
	text-decoration: none;
	color: #eee;
	letter-spacing: .5px;
	font-weight: 300;
	padding-top: 10rem;
	font-size: 16vw;
	opacity: .9;
}

.newhead7 {
	text-decoration: none;
	color: #eee;
	font-family: "lanord-bold", sans-serif;
	letter-spacing: 2px;

}


/*IFRAME HERE*/



/*BEGIN PORTFOLIO PAGE CSS HERE*/



.linkcolor {
	color: black;
	padding-left: 10px;
}

.linkcolor:hover {
	color: lightskyblue;
}

.linkcolormore {
	color: lightskyblue;
	padding-left: 10px;
	letter-spacing: 2px;
}

.linkcolormore:hover {
	color: grey;
}


.clearpic {
	background-image: none;
}


.morepic {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .05)), url(images/utopia.png) center no-repeat;
	background-size: cover;


}

.aboutfooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;

}

.morepic footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;

}

.workspic {
	display: flex;
	justify-content: center;
	padding-top: 1px;
	padding-bottom: 2rem;

}

.linked {
	padding-top: 2.2rem;
}

.pdf {
	padding: 50px;
}

/*trying to center pic and left text*/
.workpx {
	width: 80%;
	height: auto;
}



/*image size for about page here*/
.imagesize {
	width: 30%;
	height: 30%;
}


.imagesize:hover {
	color: white;
	opacity: .8;
	background-color: lightskyblue;
	padding-left: 1px;
	padding-right: 1px;

}

/*image size for about page here*/




/* css for more page javascript*/

.intro {
	display: flex;
	justify-content: center;
	text-align: center;

}

#typing {
	position: relative;
	margin-left: 5px;
	letter-spacing: 1px;
}

#typing::after {
	content: "";
	position: absolute;
	/*	right: -1px;*/
	width: 1px;
	height: 12%;
	border-right: 3px solid #eee;
	animation: blink 1s infinite ease;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1%;
	}
}


/* css for more page javascript ends*/


@media all and (min-width:360px) and (max-width:700px) {

	.container4 {
		display: grid;

	}

	.mypara,
	.mypara2 {
		padding-right: 0rem;
		padding-left: 0rem;
		padding-top: 1em;
	}

	.mypara3 {
		padding-right: 0rem;
		padding-left: 0rem;
		padding-top: 1em;
		/*		font-size: 1.3em;*/
	}

	.column {
		padding-right: 2vw;
		padding-left: 2vw;
	}

	.column2 {

		padding-right: 5vw;
		padding-left: 5vw;

	}

	.column2 p {
		font-size: 1.3em;
	}



	.container4 {
		flex-flow: column;

	}

	.martin {
		padding-top: 3em;
	}


	header {
		width: 100%;
		height: 100vh;

		background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)),
			url(images/summer2.jpg) center no-repeat;
		background-size: cover;
		/*		opacity: .9;*/
		/*	background-color: black;*/

	}


	.newhead5 {

		/*		padding-top: 18.5em;*/
		padding-top: 18em;
		font-size: 5.8vw;

		/*		display: grid;*/
	}


	/*	flip text vertically on mobile*/
	.newhead7,
	a.newhead {
		font-size: 7vw;
		/*		writing-mode: vertical-rl;*/

		/*
		padding-left: 1.5em;
		vertical-align: bottom;
*/
	}

	/*----------------------------------------*/

	#myVideo {

		padding-left: 5px;
		padding-right: 5px;

	}

	.newhead3,
	.newhead1 {
		font-size: 1em;

	}


	p {
		font-size: 18px;
		padding-left: 4rem;
		padding-right: 4rem;


	}

	.aboutpic {
		display: flex;
		justify-content: center;
		padding-top: 2.6rem;
		padding-bottom: .8rem;


	}

	.meetpic {
		display: flex;
		justify-content: center;
		padding-top: 1rem;
		padding-bottom: 1rem;

	}


	.imagesize {
		width: 55%;
		height: 55%;
	}


	.email {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.email .linkcolormore {
		letter-spacing: 3px;
	}

	.workspic {
		display: flex;
		justify-content: center;
		padding-top: 1rem;
		padding-bottom: 1rem;

	}





	/*trial here shifting nav bar in response mode*/

	nav li {
		line-height: 3rem;
	}

	nav {
		padding-top: 3rem;
	}

	h2 {
		padding-top: 3rem;
	}

}

@media (min-width: 900px) {
	.email .linkcolormore {
		letter-spacing: 10px;
	}





}

/*
@media only screen and (min-width: 600px) {
	.homebg {
*/
/*		background-color: black;*/

/*
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;

	}
*/

/*
	header {
		width: 100%;
		height: 100vh;

		background: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .05)),
			url(images/face4.jpg) center no-repeat;

		background-size: cover;
		background-color: black;

	}
*/

}
