/*0.GENERAL*******************************/

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* overflow: scroll; */
  /* overflow-x:hidden;  */
  scroll-snap-type: y proximity; */
}


:root {
  --main-color: #c31e1e;
  --light-color: #f0eeee;
  --dark-color: #141414;
}

h1 {
  font-size: 32px;
  /* color: var(--dark-color); */
}

h2 {
  font-size: 25px;
  color: var(--dark-color);
  font-family: "lanord-bold", sans-serif;
}

h3 {
  font-size: 15px;
  font-family: "lanord-bold", sans-serif;
  line-height: 18px;
  color: var(--dark-color);
}

h4 {
  padding-bottom: 20px;
  color: var(--dark-color);
  font-family: "lanord-bold", sans-serif;
  font-size: 20px;
}

p {
  font-size: 15px;
  font-family: "lanord-regular", sans-serif;
  padding-bottom: 20px;
  line-height: 25px;
}

a {
  text-decoration: none;
  font-family: "lanord-regular", sans-serif;
  letter-spacing: 2px;
}

.main-color {
  color: var(--main-color);
}

.white {
  color: var(--light-color);
}

.dark {
  color: var(--dark-color);
}

.bold {
  font-family: "lanord-bold", sans-serif;
}

/*FONT***********************************/
/*----------- La Nord -----------------*/

@font-face {
  font-family: "lanord-bold";
  src: url("fonts/LaNord-Bold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "lanord-light";
  src: url("fonts/LaNord-Light.woff");
  font-weight: light;
}

@font-face {
  font-family: "lanord-semilight";
  src: url("fonts/LaNord-SemiLight.woff");
  font-weight: medium;
}

@font-face {
  font-family: "lanord-regular";
  src: url("fonts/LaNord-Regular.woff");
  /*	font-weight: bold;*/
}

/*=========================================*/

/********************************************/
/*1.HEADER-NAV-MOBILEVERSION*******************************/

header {
  width: 100%;
  padding: 0px 0px 15px 0px;
  height: 60px;
  position: sticky;
  background-color: var(--light-color);
  top: 0;
  z-index: 3;
}

#burgermenu {
  max-width: 200px;
}

ul {
  list-style-type: none;
}

#burgermenu a {
  color: var(--dark-color);
  display: block;
  padding: 20px;
  font-size: 1.5em;
  font-weight: 400;
  transition: 200s;
}

#burgermenu a:hover {
  opacity: 0.5;
  color: var(--main-color);
}

#closebtn {
  position: absolute;
  top: 15px;
  right: 45px;
  font-size: 35px;
  cursor: pointer;
}

#openbtn {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.overlay {
  position: fixed;
  z-index: 70;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  padding-top: 50px;
  background-color: var(--light-color);
  overflow-x: hidden;
  transition: 0.7s;
}

/******DESKTOP MENU**********/

.desktop-menu {
  display: flex;
  flex-direction: row;
justify-content:flex-end;
padding-top: 20px;
/* z-index: 1999; */
/* position:static; */
  
}

.desktop-menu ul,
.desktop-menu ul li {
  display: flex;
  flex-direction: row;
  
} 

.desktop-menu ul a,
.desktop-menu ul li a {
  /* position: relative; */
  /* display: block; */
  color: var(--light-color);
  padding: 0px 35px 10px 8px;
  text-decoration: none;
  font-size: 15px;
  text-transform: lowercase;
}

.desktop-menu > ul > li:hover > a {
  color: var(--main-color);
}

.desktop-menu button a {
  text-decoration: none;
}

/****************************************/
/*1c. NAME ANIMATION*******************************/

.name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/****************************************/
/*2.SECTIONS-GENERAL*********************/

.section-wrap {
  padding: 20px 20px;
  scroll-snap-align: start;
}

.content-section {
  max-width: 1000px;
  margin: 0 auto;
}

.id-title {
  font-family: "lanord-bold", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 20px;
}

/****************************************/
/*3.HOME-SECTION*********************************/

#home {
  height: 90vh;
  width: 100%;
  background-color: var(--dark-color);
}

.home-qoute {
  text-decoration: none;
  font-family: "lanord-light", sans-serif;
  letter-spacing: 2px;
  position: absolute;
  bottom: 40px;
  color: var(--light-color);
  text-shadow: 0.1px 0.1px 2px var(--light-color);
  overflow-x:hidden;
}

.name {
  position: absolute;
  bottom: 0px;
  color: var(--light-color);
}

.outline {color: var(--dark-color);
-webkit-text-stroke: 0.8px var(--light-color);
}

/**************************************************/
/*3.-SECTION WORKS*********************************/

#works {
  background-color: var(--main-color);
  color: var(--light-color);
  height: 100vh;
}

.list {
  z-index: -3;
  width: 100%;
  max-width: 900px;
}
/* 
.list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.list-label {
  font-size: 15px;
  font-family: "lanord-regular", sans-serif;
  padding: 20px 0px 10px 0px;

}

.list-item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.list-item-header {
  text-align: right;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "lanord-regular", sans-serif;
  font-size: 30px;
  line-height 0px;
  border-top: 1px solid var(--light-color);
  padding-top: 20px;
}

#works a {
  color: var(--light-color);
}

#works a:hover {
font-weight: 600;
fill: white;}


.proj-arrow {
  width: 40px;
  stroke: var(--light-color);
  stroke-width: 0.3px;
  transition: fill 0.3s cubic-bezier(0.63, -0.18, 0.44, 1.24);
  fill: transparent;
}

.proj-arrow:hover {
  fill: var(--light-color);
}


#project_images_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  pointer-events: none;
}

#project_images {
  width: 500px;
  height: 280px;
  position: absolute;
  background-position: center;
  background-size: cover;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity 0.3s cubic-bezier(0.63, -0.18, 0.44, 1.24);
  opacity: 0;
}

#project_images.show {
  opacity: 0.5;
  filter: grayscale(100%);
}


/* Cursor */

#cursorOverflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

#circleCursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  border: 1px solid #fff;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);
  transition: width 0.3s cubic-bezier(0.63, -0.18, 0.44, 1.24), height 0.3s cubic-bezier(0.63, -0.18, 0.44, 1.24);
}

#circleCursor .hover {
  width: 80px;
  height: 80px;
  border: 3px solid #fff;

}

/**************************************************/
/*3.-SECTION ABOUT*********************************/

img {
  width: 100%;
  padding-bottom: 15px;
}

#about {
  background-color: var(--light-color);
}

.cv {
  display:flex;
  width: 100%;
  justify-content: flex-end;
  font-family: "lanord-bold", sans-serif;
  font-size: 30px;
}

.cv-arrow {
  stroke: var(--main-color);
  stroke-width: 0.5px;
  fill: transparent;
  transition: all 0.5s ease-in-out;
}

/**************************************************/
/*SKILLS*********************************/

.iconbox {
  /* display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
text-align: center;
margin: 30px 0px;
}

.box {
  margin-bottom: 40px;
  padding: 0px 15px;
}

.box h4 {
  margin-bottom: 10px;
  color: var(--main-color);
}


.icon {
  height: 100%;
  width: 20%;
  padding-bottom: 25px;
}

/****************************************/
/*3.-SECTION CONTACT*********************************/

#contact {
  height: 100vh;
  background-color: var(--dark-color);
}



#contact li > a {
  color: var(--light-color);
  letter-spacing: 2px;
  font-family: "lanord-bold";
  color: var(--main-color);
  font-size: 20px;
}

#contact li {
  padding-bottom: 30px;
  font-family: "lanord-regular";
  font-size: 20px;
}

#contact ul {
  padding-top: 10px;
  color: var(--light-color);
  letter-spacing: 1px;
}


/* lav var på farver */

/****************************************/
/*WORKS INDIVIDUAL GENERAL*********************************/

.works_page {
  background-color: var(--dark-color);
  color: var(--light-color);
  max-width: 900px;
  margin: 0 auto;
}

.works_page h1 {
  font-family: "lanord-bold", sans-serif;
  letter-spacing: 2px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.works_page p {
  padding-bottom: 10px;
  
}

.works_page .column {
  padding-bottom: 30px;
} 

.works_content {
  padding: 20px 20px;
}

.works_page a {
  color: var(--main-color);
}

.works_main {background-color: var(--dark-color);}

/****SLIDESHOW STYLING******/
  
  #wrapper {
    /* width: 100%; */
    max-width: 410px;
    position: relative;
    padding: 10px 0px 40px 0px;

    justify-content: center;
    display: flex;
    

  }
  
  #carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  #carousel::-webkit-scrollbar {
    height: 0;
  }
  
  #prev,
  #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--light-color);
    border: none;
    padding: 5px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
  }
  
  #prev {
    bottom: 60%;
    left: 5%;
    /* transform: translate(50%, -50%); */
    display: none;
  }
  
  #next {
    bottom: 60%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
  }
  
  #content {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  
  }
  
  figure {
    height: 100%;
    width: 400px;
    object-fit: contain;
    text-align: center;
  }

  figcaption {
      font-size: 12px;
      font-family: "lanord-regular", sans-serif;
      padding-bottom: 20px;
      line-height: 20px;
  }
  

/****************************************/
/*CV-*********************************/

#cv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-color);
  color: var(--light-color);
}

#cv h2, #cv h3 {
  color: var(--light-color);
}

#cv h2 {
  margin-bottom: 30px;
}

#cv h3 {
  margin-bottom: 5px;
}

#cv a {
  color: var(--main-color);
}

/****************************************/
/*3.-FOOTER*********************************/

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0;
  font-family: 'lanord-regular';
  font-size: 12px;
  text-align: center;
	color: var(--light-color);
  background-color: var(--dark-color);
}

/*------------------------------------------*/




/*------------------------------------------*/
/* MAX-WIDTH 768px ========================= */
@media (min-width: 600px){

  header {
    height: 0px;
    padding: 0px;
    position: relative;
  }

  .desktop-menu {
    padding-top: 25px;
  }

  #home {
    height: 100vh;
  }

  .home-qoute {
    width: 710px;
    font-size: 50px;
    bottom: 200px;
  }
  
  .name {
    font-size: 25px;
    bottom: 0;
  }

 .list {
  margin: 20px 0px 0px 0px;
  }

  #about .content-section {
    padding: 20px 0px 0px 0px;
  }

  h4 {
    font-size: 18px;
  }

  #cv {width: 100vw;
    height: 100vh;}

}

@media (min-width: 650px){
  #about .content-section {
    padding: 30px 30px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 60px;
  
  }
}


/*------------------------------------------*/
/* MAX-WIDTH 1200px ========================= */
@media (min-width: 1200px){

  #home {
    height: 100vh;
    background-size: 40%;
    background-position: 90% 50% ;
  }

  .home-qoute {
    width: 730px;
    font-size: 55px;
    bottom: 250px;
  }
  
  .name {
    font-size: 25px;
  }

 .list {
  margin: 15px 0px 0px 0px;
  padding-top: 30px;
  }

  #about{
    height: 100vh;
  }

  h4 {
    font-size: 18px;
  }

  p {font-size: 15px;}


/*mediaq SKILLS */

#whatido {
  height: 100vh;
  overflow:hidden;
 
}

.iconbox{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between;
    }

  .icon{
  padding-bottom: 30px;
  height:20%;
width: auto; }

  .box {
    overflow:hidden;
    margin-bottom: 0px;
    max-width: 300px;
   
  }


  .box h4, .box p {
    margin-bottom: 0px;
    text-align: left;
    padding-bottom: 5px;
  }
  /* works page queryselector */

  .works_page {
padding-top: 20px;
  }

  .works_grid {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-gap: 10px 90px;
  }

  .works_grid_image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px 20px;
  }
  
  .landing_image {
    padding-bottom: 40px;
  }

  .works_page h1 {
    padding-bottom: 40px;
  }
  
  .works_page p {
 padding-bottom: 10px;
  }
  
  .works_page .column {
   padding-bottom: 50px;
  } 
  
  .works_content {
   
  }

  .visit {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #wrapper {
    max-width: 900px;
    padding: 10px 0px 30px 0px;

}
}

#works .content-section{
  margin-top: 80px;
}

  #contact .content-section {
    margin-top: 80px;
  }


/*------------------------------------------*/
/* MAX-WIDTH 1200px - hiding desktop menu in mobile ========================= */

@media (max-width: 600px) {

  /* #logo {
    float: none;
    text-align: center;
  } */

  .desktop-menu {
    display: none;
  }

  #burger-menu {
    display: block;
    float: right;
  }

  #openbtn {
    display: block;
  }

  #local-burger-menu {
    display: block;
    float: right;
  }

  #openbtn {
    display: block;
  }


}
